.shadow_btn {
  box-shadow: #e8e8e8 0px 0px 12px 1px;
}
.shadow_wrap {
  box-shadow: #e8e8e8 0px 0px 15px 1px;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.black_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
/*.img_wrap{
  position: relative;
  background: #f5f5f5;
  b{
    width:0.4upx;
    height: 0.4upx;
    background: url('../img/close.png') no-repeat center;
    background-size: 100%;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0;
  }
}*/
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex_center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
/* 省略号 */
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* 向右箭头 */
/* 1px边框 */
.border_4 {
  position: relative;
  box-sizing: border-box;
}
.border_4:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border: 1px solid #d9d7d7;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
  .border_4:after:after {
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .border_4:after:after {
    transform: scaleY(0.5);
  }
}
.bg-btn {
  background: #ccc !important;
}
.btn-small {
  width: 105upx;
  height: 45upx;
  background: #fed351;
  line-height: 45upx;
  text-align: center;
  font-size: 24upx;
  color: #626469;
  margin: 0 auto;
  border-radius: 100px;
}
.nodata {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.nodata img {
  margin-top: 280upx;
  width: 200upx;
  height: 200upx;
}
.nodata p {
  font-size: 30upx;
  color: #999;
  margin-top: 60upx;
}
.banner {
  height: 200px;
}
.feature {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  background: #fff;
}
.feature a {
  display: block;
  width: 75px;
  height: 75px;
}
.feature a img {
  width: 100%;
}
.recommend {
  border-top: #f8f8f8 solid 15px;
  background: #fff;
}
.recommend h4 {
  font-size: 18px;
  color: #333;
  margin: 15px auto;
  text-align: center;
}
.recommend ul {
  overflow: hidden;
}
.recommend ul li {
  width: 165px;
  margin-left: 15px;
  float: left;
  margin-bottom: 15px;
}
.recommend ul li img {
  width: 165px;
  height: 165px;
  overflow: hidden;
  border-radius: 4px;
}
.recommend ul li p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}
