@import url('../common/common.less');
.word_show{
    .pos_fix_full;
    background: #cfcfcf;
    h4{
        padding-top: 70%;
    }
    h4,p{
        font-size: 16px;
        color: #fff;
        text-align: center;
    }
    img{
        .pos_center;
        width: 100%;
    }
}
.btn_control{
    position: fixed;
    bottom: 20px;
    .btn{
        display: inline-block;
        margin: 0 10px;
    }
    .prev,.next{
        width: 36px;
        height: 36px;
    }
    .play{
        width: 60px;
        height: 60px;
    }
}
#audio{
    width: 100%;
    height: 100%;
}