.shadow_btn {
  box-shadow: #e8e8e8 0px 0px 12px 1px;
}
.shadow_wrap {
  box-shadow: #e8e8e8 0px 0px 15px 1px;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.black_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.pos_center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.pos_fix_full {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
/*.img_wrap{
  position: relative;
  background: #f5f5f5;
  b{
    width:0.4upx;
    height: 0.4upx;
    background: url('../img/close.png') no-repeat center;
    background-size: 100%;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0;
  }
}*/
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex_center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
/* 省略号 */
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* 向右箭头 */
.common_arrow {
  background: url(../../img/icon_arrow.png) no-repeat right center;
  background-size: 9px 16px;
}
/* 1px边框 */
.bg-btn {
  background: #ccc !important;
}
.btn-small {
  width: 53px;
  height: 23px;
  background: #fed351;
  line-height: 45px;
  text-align: center;
  font-size: 12px;
  color: #626469;
  margin: 0 auto;
  border-radius: 100px;
}
.nodata {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.nodata img {
  margin-top: 280upx;
  width: 200upx;
  height: 200upx;
}
.nodata p {
  font-size: 30upx;
  color: #999;
  margin-top: 60upx;
}
@keyframes play {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}
.lesson_info .lesson_poster {
  width: 100%;
  display: block;
}
.common_box {
  position: relative;
  padding: 20px 0px;
  padding-bottom: 0;
  box-sizing: border-box;
  background: #fff;
}
.common_box .common_tit {
  width: 146px;
  height: 41px;
  background: url(../../img/bg-tit.png) no-repeat center;
  background-size: 100%;
  margin: 0 auto;
  margin-top: -34px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 42px;
}
.common_box .common_item {
  margin: 0px auto;
  border: #fff solid 8px;
  border-top: none;
  border-bottom: none;
  padding: 10px 12px;
}
.common_box .item_text {
  padding: 0 15px;
}
.common_box .item_text p {
  font-size: 16px;
  color: #545454;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: center;
}
.words ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.words ul li {
  width: 162px;
  height: 75px;
  box-sizing: border-box;
  border: #fc686d solid 0.7px;
  padding: 14px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin: 8px 0;
  transition: all 0.5s linear;
}
.words ul li.active {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: play;
  animation-name: play;
}
.words ul li img {
  width: 52px;
  height: 50px;
  margin-right: 15px;
  flex-shrink: 0;
}
.words ul li .text {
  font-size: 0.28rem;
  color: #333;
  width: 88px;
}
.words ul li .text p {
  margin-top: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.module_con p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}
.module_con .target {
  width: 320px;
  box-sizing: border-box;
  padding: 10px 20px;
  background: #FC686D;
  border-radius: 3px;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.module_con .target p {
  color: #fff;
  font-size: 14px;
}
.module_con .target .tit {
  width: 60px;
  text-align: center;
  border-right: #fff solid 0.7px;
  padding-right: 10px;
}
.module_con .target .tit img {
  width: 22px;
  height: 26px;
  background: #fff;
  display: block;
  margin: 5px auto;
}
.module_con .target .target_info {
  width: 190px;
}
.module_item p.guide {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #FC686D;
  line-height: 1.6;
}
.module_item img {
  width: 257px;
  margin: 30px auto;
  display: block;
}
.item_video video {
  width: 100%;
}
.palyer {
  margin-top: 100px;
}
.music_avatar {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  overflow: hidden;
  margin-right: 20px;
}
.music_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #000;
}
.music {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  background: #f6f6f6;
  padding-right: 8px;
  padding-left: 12px;
  border-radius: 4px;
  margin: 8px 0;
}
.game {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}
.game a {
  display: block;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.game a img {
  width: 100%;
}
.game p {
  font-size: 0.44rem;
  color: #fff;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
