.shadow_btn {
  box-shadow: #e8e8e8 0px 0px 12px 1px;
}
.shadow_wrap {
  box-shadow: #e8e8e8 0px 0px 15px 1px;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.black_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.pos_center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.pos_fix_full {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
/*.img_wrap{
  position: relative;
  background: #f5f5f5;
  b{
    width:0.4upx;
    height: 0.4upx;
    background: url('../img/close.png') no-repeat center;
    background-size: 100%;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0;
  }
}*/
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex_center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
/* 省略号 */
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* 向右箭头 */
.common_arrow {
  background: url(../../img/icon_arrow.png) no-repeat right center;
  background-size: 9px 16px;
}
/* 1px边框 */
.bg-btn {
  background: #ccc !important;
}
.btn-small {
  width: 53px;
  height: 23px;
  background: #fed351;
  line-height: 45px;
  text-align: center;
  font-size: 12px;
  color: #626469;
  margin: 0 auto;
  border-radius: 100px;
}
.nodata {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.nodata img {
  margin-top: 280upx;
  width: 200upx;
  height: 200upx;
}
.nodata p {
  font-size: 30upx;
  color: #999;
  margin-top: 60upx;
}
#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background: #fff;
}
.apply ul {
  background: #fff;
  padding-left: 15px;
  margin-bottom: 10px;
}
.apply ul li {
  position: relative;
}
.apply ul li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 0.7px solid #d9d7d7;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
  .apply ul li:after {
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .apply ul li:after {
    transform: scaleY(0.5);
  }
}
.apply ul li.tel input {
  width: 220px;
  display: inline-block;
}
.apply ul li.tel .code_btn {
  float: right;
  margin-right: 15px;
  line-height: 24px;
  font-size: 14px;
  padding: 0 12px;
  border-radius: 20px;
  color: #FC5E64;
  border: #FC5E64 solid 1px;
  margin-top: 8.5px;
}
.apply ul li.tel .code_btn.disable {
  border-color: #dcdcdc;
  color: #bbb;
}
.apply ul li.chooseAddr {
  background: url(../../img/icon_arrow.png) no-repeat right center;
  background-size: 9px 16px;
  background-position-x: 330px;
}
.apply ul li:nth-last-of-type(1):after {
  display: none;
}
.apply ul li input,
.apply ul li p {
  line-height: 44px;
  width: 300px;
}
.apply ul li textarea {
  width: 95%;
  line-height: 1.4;
  padding-top: 9px;
  resize: none;
}
.apply ul li input,
.apply ul li textarea {
  font-size: 14px;
  color: #333;
  padding-left: 3px;
}
.submit_btn {
  width: 180px;
  height: 44px;
  background: #fc5e64;
  line-height: 44px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
  border-radius: 100px;
  margin-top: 50px;
}
