@import url('../common/common.less');
#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: #fff;
}
.apply{
    ul{
        background: #fff;
        padding-left: 15px;
        margin-bottom: 10px;
        li{
            .border_1px(bottom);
            &.tel{
                input{
                    width: 220px;
                    display: inline-block;
                }
                .code_btn{
                    float: right;
                    font-size: 14px;
                    margin-right: 15px;
                    line-height: 24px;
                    font-size: 14px;
                    padding: 0 12px;
                    border-radius: 20px;
                    color: #FC5E64;
                    border:#FC5E64 solid 0.5px;
                    margin-top: 8.5px;
                    &.disable{
                        border-color:#dcdcdc;
                        color: #bbb;
                    }
                }
            }
            &.chooseAddr{
                .common_arrow;
                background-position-x: 330px;
            }
            &:nth-last-of-type(1):after{
                display: none;
            }
            input{
                line-height: 44px;
                width: 300px;
            }
            textarea{
                width: 95%;
                line-height: 1.4;
                padding-top: 9px;
                resize: none;
            }
            input,textarea{
                font-size: 14px;
                color: #333;
                padding-left: 3px;
            }
            
        }

    }
}
.submit_btn{
    .btn-style(#fff,#fc5e64);
    margin-top: 50px;
}
